<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- <div id='app'>
    <!-- <input type="text" v-model="message"> --
    <input type="text" :value="message" @input="valueChange">
    <h3>{{message}}</h3>
  </div>
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello'
      },
      methods: {
        valueChange(event) {
          console.log(event);
          return this.message = event.target.value
        }
      }
    });
  </script> -->

  <!-- <div id='app'>
    <input type="radio" value="男" v-model="sex">男
    <input type="radio" value="女" v-model="sex">女
    <h3>您选择的是：{{sex}}</h3>
  </div>
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        sex: '男'
      }
    });
  </script> -->

  <!-- <div id='app'>
    <label for="agree">
      <input type="checkbox" id="agree" v-model="isAgree">同意协议
      <button :disabled="!isAgree">下一步</button>
    </label>
  </div>
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello',
        isAgree: false
      }
    });
  </script> -->

  <!-- <div id='app'>
    <input type="checkbox" value="篮球" v-model="hobbies">篮球
    <input type="checkbox" value="足球" v-model="hobbies">足球
    <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
    <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
    <input type="checkbox" value="排球" v-model="hobbies">排球
    <h3>{{ hobbies }}</h3>
  </div>
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello',
        hobbies: []
      }
    });
  </script> -->

  <!-- <div id='app'>
    <!-- 按住ctrl可以多选 --
    <select name="sel" v-model="fruits" multiple>
      <option value="苹果">苹果</option>
      <option value="香蕉">香蕉</option>
      <option value="榴莲">榴莲</option>
      <option value="葡萄">葡萄</option>
    </select>
    <h3>{{ fruits }}</h3>
  </div>
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello',
        fruits: []
      }
    });
  </script> -->


</body>

</html>