<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<!-- <body>
  <div id='app'>
    <cpn>
      <button slot="btn">按钮</button>
    </cpn>
    <cpn>
      <span>我是span</span>
    </cpn>
  </div>
  <template id="cpnC">
    <div>
      <h3>我是标题1</h3>
      <p>我是内容1</p>
      <slot name="btn"></slot>
    </div>
  </template>
  <script src='../js/vue.js'></script>
  <script>
    const cpn = {
      template: '#cpnC',
    };
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello'
      },
      components: {
        cpn
      }
    });
  </script>
</body> -->

<body>
  <div id='app'>
    <cpn></cpn>
    <cpn @item-change="itemChange">
      <span v-for="item in bmovies">{{ item }}</span>
    </cpn>
  </div>
  <template id="cpnC">
    <div>
      <ul>
        <li v-for="item in movies" @Click="itemClick(item)">{{ item }}</li>
      </ul>
    </div>
  </template>
  <script src='../js/vue.js'></script>
  <script>
    const cpn = {
      template: '#cpnC',
      data() {
        return {
          movies: ['海贼王', '黑子的篮球', '火影忍者', '进击的巨人']
        }
      },
      methods: {
        itemClick(movies) {
          this.$emit('itemChange', this.movies)
        }
      },

    };
    const app = new Vue({
      el: '#app',
      data: {
        bmovies: []
      },
      methods: {
        itemChange(movies) {
          this.bmovies = this.movies
        }
      },
      components: {
        cpn
      }
    });
  </script>
</body>

</html>