<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .line {
            color: red
        }
        
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<!-- <body>
    <!-- 作业需求：点击列表中的哪一项，那么该项的文字变成红色 --
    <div id='app'>
        <ul>
            <li v-for="(item,index) in movies" :class="{line:index===currentIndex}" @click="getClick(index)">{{index}}-{{ item }}</li>
        </ul>
    </div>
    <script src='../js/vue.js'></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                movies: ['海贼王', '火影忍者', '进击的巨人', '一拳超人'],
                currentIndex: 0
            },
            methods: {
                getClick(index) {
                    this.currentIndex = index;
                }
            }
        });
    </script>
</body> -->

<body>
    <div id='app'>
        <ul>
            <li v-for="(item,index) in movies" :class="getClass(index)" @click="liClick(index)" v-cloak>{{index}}-{{item}}</li>
        </ul>
    </div>
    <script src='../js/vue.js'></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                movies: ['aaa', 'bbb', 'ccc', 'ddd'],
                currentIndex: 0
            },
            methods: {
                liClick(index) {
                    this.currentIndex = index
                },
                getClass(index) {
                    return {
                        line: index === this.currentIndex
                    }
                }
            }
        });
    </script>
</body>

</html>