*{
    padding:0;
    margin: 0;
}
.w{
    width:1200px;
    margin: auto;
}
body{
    background-color: #f3f5f7;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    height: 42px;
    margin: 30px auto;
    background-color: bisque;
}
.logo{
    float: left;
    width: 195px;
    height: 42px;
}
.nav{
    float: left;
    height: 42px;
    margin: 0 50px;
}
.nav ul li{
    float: left;
    margin:0 10px;
}
.nav ul li a{
    display: block;
    font-size:18px;
    color:#050505;
    line-height: 42px;
    padding:0 10px;
}
.nav ul li a:hover{
    color:#00a4ff;
    border-bottom: 2px solid #00a4ff;
}
.search {
    float: left;
    width: 406px;
    height: 38px;
    border: 2px solid #00a4ff;
    margin-left:50px;
}
.search input {
    float: left;
    width: 341px;
    height: 38px;
    border: none;
    padding-left: 15px;
    font-size: 14px;
    color:#d5d5d5;
    
}
.search button {
    float: left;
    width: 50px;
    height: 38px;
    border: none;
    background: url(images/btn.png) no-repeat center right;
}
.user{
    float: right;
    height: 42px;
    margin-right: 20px;
    
}
.user .touxiang{
    float: left;
    width:30px;
    height: 30px;
    margin: 6px 5px;
}
.user .username a{
    float: left;
    font-size: 14px;
    color:#666;
    padding:11px 0px 12px 5px;

}