<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<!-- <body>
  <div id='app'>
    <cpn :cmovies="movies" :cmessage="message"></cpn>
  </div>
  <template id="cpn"> 
    <div>
      <ul>
        <li v-for="item in cmovies">{{item}}</li>
      </ul>
      <h3>{{cmessage}}</h3>
    </div>
  </template>

  <script src='../js/vue.js'></script>
  <script>
    //父传子，通过props
    const cpn = {
      template: '#cpn',

      // 1、传递一个数组
      props: ['cmovies'],

      // 2、类型限制
      props: {
        cmovies: Array,
      },

      ///3、传递一些默认值
      props: {
        cmovies: {
          type: Array,
          //如果类型是一个对象或者数组时，默认值必须是一个函数
          default () {
            return []
          }
        },
        cmessage: {
          type: String,
          default: 'aaa', //如果没有传递值，则显示这个默认值
          required: true //必传项
        }
      },

      data() {
        return {}
      },
      methods: {

      }
    }
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello',
        movies: ['海贼王', '火影忍者', '黑子的篮球', '一拳超人']
      },
      components: {
        cpn
      }
    });
  </script>
</body> -->

<!-- <body>
  <div id='app'>
    <!-- 如果你传递时用的是驼峰命名法，那么绑定属性时就需要使用c-message --
    <cpn :c-message="message" :c-info="info"></cpn>
  </div>
  <template id="cpn">
    <div>
      <h3>{{cMessage}}</h3>
      <h3>{{ cInfo}}</h3>
    </div>
  </template>
  <script src='../js/vue.js'></script>
  <script>
    const cpn = {
      template: '#cpn',
      props: {
        cMessage: {
          type: String
        },
        cInfo: {
          type: Object,
          default () {
            return {}
          }
        }
      }
    }
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello',
        info: {
          name: 'wenhe',
          age: 19,
          sex: '男'
        }
      },
      components: {
        cpn
      }
    });
  </script>
</body> -->

<!-- <body>
  <div id='app'>
    <!-- 如果你传递时用的是驼峰命名法，那么绑定属性时就需要使用c-message --
    <cpn :c-message="message"></cpn>
  </div>
  <template id="cpn">
    <div>
      <h3>{{cMessage}}</h3>
    </div>
  </template>
  <script src='../js/vue.js'></script>
  <script>
    const cpn = {
      template: '#cpn',
      props: {
        cMessage: {
          type: String
        }
      }
    }
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello',
      },
      components: {
        cpn
      }
    });
  </script>
</body> -->

<body>
  <!-- 父组件模板 -->
  <div id='app'>
    <!-- 第五步：父组件监听事件，接收数据 -->
    <cpn @itemclick="cpnclick"></cpn>
  </div>

  <!-- 子组件模板 -->
  <template id="cpn">
    <div>
      <!-- 第二步：把子组件里的数据展示出来 
           第三步：监听子组件里的button
      -->
      <button v-for="item in categories" 
        @click="btnclick(item)">{{item.name}}</button>
    </div>
  </template>
  <script src='../js/vue.js'></script>
  <script>
    // 子组件
    const cpn = {
      template: '#cpn',
      // 第一步：找到要传递的数据
      data() {
        return {
          categories: [{
            id: 'aaa',
            name: '热门推荐'
          }, {
            id: 'bbb',
            name: '手机数码'
          }, {
            id: 'ccc',
            name: '家用家电'
          }, {
            id: 'ddd',
            name: '电脑办公'
          }, ]
        }
      },
      methods: {
        // 第四步：把子组件里的数据发射出去，同时传递一个参数
        btnclick(item) {
          this.$emit('itemclick', item);
        }
      }
    }

    // 父组件
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello',
      },
      // 第六步：父组件处理监听到的事件
      methods: {
        cpnclick(item) {
          console.log(item);
        }
      },
      components: {
        cpn
      }
    });
  </script>
</body>

</html>